In [ ]:
"""
Прочитать про методы оптимизации для нейронных сетей https://habr.com/post/318970/
Реализовать самостоятельно логистическую регрессию
Обучить ее методом градиентного спуска
Методом nesterov momentum
Методом rmsprop

"""

In [22]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression 
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

In [3]:
#Открываем файл
data = pd.read_csv("C:/Users/dubroars/OneDrive - Mars Inc/Desktop/Нетология/Data Scientist/ML/2. Reg & SVM\Database//adult.csv")
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [5]:
#Выберем признаки age, educational-num, hours-per-week, occupation
my_columns = data [["age", "educational-num", "hours-per-week", "occupation" ]]
my_columns.head(2)

   age  educational-num  hours-per-week         occupation
0   25                7              40  Machine-op-inspct
1   38                9              50    Farming-fishing

In [6]:
# Так как occupation категориальная переменная, то ее нужно преобразовать, передав значения 0 и 1 на пересечении
#Весь этот дата сет наши Х
X = pd.get_dummies (my_columns, columns = ["occupation"]) 
X.head(2)

,age,educational-num,hours-per-week,occupation_?,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,25,7,40,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,38,9,50,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [7]:
#Теперь нужно задать целевую переменную y, но она является категорией и нужно перевести значения столбца в цифры 0 и 1 
# для этого нам поможет LabelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [8]:
# Через метод фит передадим наш признак gender, который нужно преобразовать и каждому присвоит метку
le.fit(data["gender"])

LabelEncoder()

In [9]:
#Проверяем, что наш LabelEncoder работает и кодирует  в число
le.transform(['Female'])

array([0], dtype=int64)

In [10]:
# записываем в целевую переменную y преобразованный столбец gender
# Трансформируем наши данные из целевой переменной. Это будут наш y, столбец 0 и 1
y = pd.Series(data = le.transform(data['gender']))
y.head(2)

0    1
1    1
dtype: int32

In [ ]:
'''Чтобы логистической регресии было проще работать, мы стандантизируем наши данные
Мы импортируем StandardScaler. Он смотрит на данные, cчитает их среднее значение, дисперсию и потом из каждого значения
вычитает среднее значение и делит на дисперсию. 
Для того, чтобы это все работало автоматом, в sklearn есть pipeline. Мы создаем пайплайн и передаем туда объекты, которые
последовательно будут работать с нашими данными.
То есть мы создаем пайплайн, передаем туда стандартскелер и потом лог регрессию'''

In [12]:
work_model = make_pipeline(StandardScaler(), LogisticRegression())

In [13]:
#Теперь нужно поделить выборку на обучение и тест. Указать в test_size, сколько пойдет на тест 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [14]:
# Обучаем на части датасета (train) через фит и делаем предсказание predictions
work_model.fit(X_train, y_train)
predictions = work_model.predict(X_test)

In [15]:
#Посмотрим точность предсказания на тренировочных и тестовых(боевых) данных
print(f'train: {round(work_model.score(X_train, y_train),5)}')
print(f'test: {round(work_model.score(X_test, y_test),5)}')

train: 0.73003
test: 0.73596

In [34]:
rmse = np.sqrt(mean_squared_error(y_test, predictions))
rmse

0.5138496795849752