In [ ]:
"""
Для выполнения домашнего задания необходимо взять файл boston house-prices datase (sklearn.datasets.load_boston) 
и построить модель.
По аналогии задания к лекции «Классификация: Логистическая регрессия и SVM».
А именно построить модель регрессии, дерево решений, оптимизировать параметры и сравнить результаты.

"""

In [2]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data = pd.read_csv(load_boston()['filename'], skiprows=1)
data.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6

In [4]:
# Проверим наличие пропусков в датасете
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [5]:
data['MEDV'].describe()

count    506.000000
mean      22.532806
std        9.197104
min        5.000000
25%       17.025000
50%       21.200000
75%       25.000000
max       50.000000
Name: MEDV, dtype: float64

print(load_boston()['DESCR'])

In [6]:
#Создадим условие для переменной MEDV и будем угадывать 0 или 1 класс
#сделаем триггер по средней. Больше 21.2 или меньше через функицию

def trig_func(x):
    if x['MEDV'] <= 21.2:
        return 0
    if x['MEDV'] > 21.2:
        return 1

In [7]:
# Применим функцию

new_data = data
new_data['trig'] = data.apply(trig_func, axis  = 1)
new_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,trig
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1

In [8]:
new_data['trig'].value_counts()

0    256
1    250
Name: trig, dtype: int64

## Строим логистическую регрессию в лоб без оптимизации параметров

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [10]:
# отберем наши переменные Х и У. 
X_initial = new_data[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']]
y_initial = new_data['trig']

In [11]:
#Строим логистическую регрессию 
X_train, X_test, y_train, y_test = train_test_split(X_initial, y_initial, test_size = 0.30, random_state = 42)
initial_reg_model = LogisticRegression()
initial_reg_model.fit(X_train, y_train)
print(f'train: {round(initial_reg_model.score(X_train, y_train),5)}')
print(f'test: {round(initial_reg_model.score(X_test, y_test),5)}')

train: 0.88418
test: 0.86184

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## Мы видим, что на тестовых данных в лоб мы можем угадать класс с 86% вероятностью

## Теперь попробуем построить модель дерево решений и посмотреть, будет ли лучше результат

In [13]:
#импортируем наш классификатор дерева 
from sklearn.tree import DecisionTreeClassifier

In [14]:
# Создаем объект и говорим, что макс глубина дерева будет равна 2. Ограничиваем глубину дерева 2
clf = DecisionTreeClassifier(max_depth=2)

In [15]:
# обучаем нашу модель и прогоним через обучение и тест
X_train, X_test, y_train, y_test = train_test_split(X_initial, y_initial, test_size = 0.30, random_state = 42)
clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

0.847457627118644
0.9013157894736842

мы видим, что на тестовых данных модель дерево решений показывает точность 90%, 
а это на 4% лучше, чем модель логистической регресии